// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Management from "../../../index.js";
import { ErrorsClient } from "../resources/errors/client/Client.js";
import { UsersExportsClient } from "../resources/usersExports/client/Client.js";
import { UsersImportsClient } from "../resources/usersImports/client/Client.js";
import { VerificationEmailClient } from "../resources/verificationEmail/client/Client.js";

export declare namespace JobsClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class JobsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<JobsClient.Options>;
    protected _usersExports: UsersExportsClient | undefined;
    protected _usersImports: UsersImportsClient | undefined;
    protected _verificationEmail: VerificationEmailClient | undefined;
    protected _errors: ErrorsClient | undefined;

    constructor(options: JobsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get usersExports(): UsersExportsClient {
        return (this._usersExports ??= new UsersExportsClient(this._options));
    }

    public get usersImports(): UsersImportsClient {
        return (this._usersImports ??= new UsersImportsClient(this._options));
    }

    public get verificationEmail(): VerificationEmailClient {
        return (this._verificationEmail ??= new VerificationEmailClient(this._options));
    }

    public get errors(): ErrorsClient {
        return (this._errors ??= new ErrorsClient(this._options));
    }

    /**
     * Retrieves a job. Useful to check its status.
     *
     * @param {string} id - ID of the job.
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.BadRequestError}
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.NotFoundError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.jobs.get("id")
     */
    public get(
        id: string,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<Management.GetJobResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(
        id: string,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Management.GetJobResponseContent>> {
        const _metadata: core.EndpointMetadata = {
            security: [{ bearerAuth: [] }, { oAuth2ClientCredentials: ["create:users", "read:users"] }],
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({
            endpointMetadata: _metadata,
        });
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ManagementEnvironment.Default,
                `jobs/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Management.GetJobResponseContent, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Management.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Management.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Management.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Management.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ManagementError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/jobs/{id}");
    }
}
