// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import * as Management from "../../../../../../../../../index.js";

export declare namespace RolesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RolesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RolesClient.Options>;

    constructor(options: RolesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists the roles which grant the user a given permission, including roles assigned directly to the user and those inherited through group memberships.
     *
     * @param {string} id - ID of the user to retrieve the permissions for.
     * @param {Management.ListUserEffectivePermissionRoleSourceRequestParameters} request
     * @param {RolesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.BadRequestError}
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.NotFoundError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.users.effectivePermissions.sources.roles.list("id", {
     *         from: "from",
     *         take: 1,
     *         resource_server_identifier: "resource_server_identifier",
     *         permission_name: "permission_name"
     *     })
     */
    public async list(
        id: string,
        request: Management.ListUserEffectivePermissionRoleSourceRequestParameters,
        requestOptions?: RolesClient.RequestOptions,
    ): Promise<
        core.Page<
            Management.UserEffectivePermissionRoleSourceResponseContent,
            Management.ListUserEffectivePermissionRoleSourcesResponseContent
        >
    > {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Management.ListUserEffectivePermissionRoleSourceRequestParameters,
            ): Promise<core.WithRawResponse<Management.ListUserEffectivePermissionRoleSourcesResponseContent>> => {
                const {
                    from: from_,
                    take = 50,
                    resource_server_identifier: resourceServerIdentifier,
                    permission_name: permissionName,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    from: from_,
                    take,
                    resource_server_identifier: resourceServerIdentifier,
                    permission_name: permissionName,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.ManagementEnvironment.Default,
                        `users/${core.url.encodePathParam(id)}/effective-permissions/sources/effective-roles`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Management.ListUserEffectivePermissionRoleSourcesResponseContent,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Management.BadRequestError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new Management.UnauthorizedError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                        case 404:
                            throw new Management.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 429:
                            throw new Management.TooManyRequestsError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.ManagementError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/users/{id}/effective-permissions/sources/effective-roles",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<
            Management.UserEffectivePermissionRoleSourceResponseContent,
            Management.ListUserEffectivePermissionRoleSourcesResponseContent
        >({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.roles ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "from", response?.next));
            },
        });
    }
}
