// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as environments from "../../../../../../environments.js";
import * as core from "../../../../../../core/index.js";
import * as Management from "../../../../../index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as errors from "../../../../../../errors/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";

export declare namespace ThemesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ThemesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ThemesClient.Options>;

    constructor(options: ThemesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create branding theme.
     *
     * @param {Management.CreateBrandingThemeRequestContent} request
     * @param {ThemesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.BadRequestError}
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.ConflictError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.branding.themes.create({
     *         borders: {
     *             button_border_radius: 1.1,
     *             button_border_weight: 1.1,
     *             buttons_style: "pill",
     *             input_border_radius: 1.1,
     *             input_border_weight: 1.1,
     *             inputs_style: "pill",
     *             show_widget_shadow: true,
     *             widget_border_weight: 1.1,
     *             widget_corner_radius: 1.1
     *         },
     *         colors: {
     *             body_text: "body_text",
     *             error: "error",
     *             header: "header",
     *             icons: "icons",
     *             input_background: "input_background",
     *             input_border: "input_border",
     *             input_filled_text: "input_filled_text",
     *             input_labels_placeholders: "input_labels_placeholders",
     *             links_focused_components: "links_focused_components",
     *             primary_button: "primary_button",
     *             primary_button_label: "primary_button_label",
     *             secondary_button_border: "secondary_button_border",
     *             secondary_button_label: "secondary_button_label",
     *             success: "success",
     *             widget_background: "widget_background",
     *             widget_border: "widget_border"
     *         },
     *         fonts: {
     *             body_text: {
     *                 bold: true,
     *                 size: 1.1
     *             },
     *             buttons_text: {
     *                 bold: true,
     *                 size: 1.1
     *             },
     *             font_url: "font_url",
     *             input_labels: {
     *                 bold: true,
     *                 size: 1.1
     *             },
     *             links: {
     *                 bold: true,
     *                 size: 1.1
     *             },
     *             links_style: "normal",
     *             reference_text_size: 1.1,
     *             subtitle: {
     *                 bold: true,
     *                 size: 1.1
     *             },
     *             title: {
     *                 bold: true,
     *                 size: 1.1
     *             }
     *         },
     *         page_background: {
     *             background_color: "background_color",
     *             background_image_url: "background_image_url",
     *             page_layout: "center"
     *         },
     *         widget: {
     *             header_text_alignment: "center",
     *             logo_height: 1.1,
     *             logo_position: "center",
     *             logo_url: "logo_url",
     *             social_buttons_layout: "bottom"
     *         }
     *     })
     */
    public create(
        request: Management.CreateBrandingThemeRequestContent,
        requestOptions?: ThemesClient.RequestOptions,
    ): core.HttpResponsePromise<Management.CreateBrandingThemeResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Management.CreateBrandingThemeRequestContent,
        requestOptions?: ThemesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Management.CreateBrandingThemeResponseContent>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ManagementEnvironment.Default,
                "branding/themes",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Management.CreateBrandingThemeResponseContent,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Management.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Management.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Management.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Management.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ManagementError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/branding/themes");
    }

    /**
     * Retrieve default branding theme.
     *
     * @param {ThemesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.NotFoundError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.branding.themes.getDefault()
     */
    public getDefault(
        requestOptions?: ThemesClient.RequestOptions,
    ): core.HttpResponsePromise<Management.GetBrandingDefaultThemeResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__getDefault(requestOptions));
    }

    private async __getDefault(
        requestOptions?: ThemesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Management.GetBrandingDefaultThemeResponseContent>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ManagementEnvironment.Default,
                "branding/themes/default",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Management.GetBrandingDefaultThemeResponseContent,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Management.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Management.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Management.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ManagementError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/branding/themes/default");
    }

    /**
     * Retrieve branding theme.
     *
     * @param {string} themeId - The ID of the theme
     * @param {ThemesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.NotFoundError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.branding.themes.get("themeId")
     */
    public get(
        themeId: string,
        requestOptions?: ThemesClient.RequestOptions,
    ): core.HttpResponsePromise<Management.GetBrandingThemeResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__get(themeId, requestOptions));
    }

    private async __get(
        themeId: string,
        requestOptions?: ThemesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Management.GetBrandingThemeResponseContent>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ManagementEnvironment.Default,
                `branding/themes/${core.url.encodePathParam(themeId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Management.GetBrandingThemeResponseContent,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Management.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Management.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Management.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ManagementError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/branding/themes/{themeId}");
    }

    /**
     * Delete branding theme.
     *
     * @param {string} themeId - The ID of the theme
     * @param {ThemesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.NotFoundError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.branding.themes.delete("themeId")
     */
    public delete(themeId: string, requestOptions?: ThemesClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(themeId, requestOptions));
    }

    private async __delete(
        themeId: string,
        requestOptions?: ThemesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ManagementEnvironment.Default,
                `branding/themes/${core.url.encodePathParam(themeId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Management.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Management.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Management.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ManagementError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/branding/themes/{themeId}");
    }

    /**
     * Update branding theme.
     *
     * @param {string} themeId - The ID of the theme
     * @param {Management.UpdateBrandingThemeRequestContent} request
     * @param {ThemesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.BadRequestError}
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.NotFoundError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.branding.themes.update("themeId", {
     *         borders: {
     *             button_border_radius: 1.1,
     *             button_border_weight: 1.1,
     *             buttons_style: "pill",
     *             input_border_radius: 1.1,
     *             input_border_weight: 1.1,
     *             inputs_style: "pill",
     *             show_widget_shadow: true,
     *             widget_border_weight: 1.1,
     *             widget_corner_radius: 1.1
     *         },
     *         colors: {
     *             body_text: "body_text",
     *             error: "error",
     *             header: "header",
     *             icons: "icons",
     *             input_background: "input_background",
     *             input_border: "input_border",
     *             input_filled_text: "input_filled_text",
     *             input_labels_placeholders: "input_labels_placeholders",
     *             links_focused_components: "links_focused_components",
     *             primary_button: "primary_button",
     *             primary_button_label: "primary_button_label",
     *             secondary_button_border: "secondary_button_border",
     *             secondary_button_label: "secondary_button_label",
     *             success: "success",
     *             widget_background: "widget_background",
     *             widget_border: "widget_border"
     *         },
     *         fonts: {
     *             body_text: {
     *                 bold: true,
     *                 size: 1.1
     *             },
     *             buttons_text: {
     *                 bold: true,
     *                 size: 1.1
     *             },
     *             font_url: "font_url",
     *             input_labels: {
     *                 bold: true,
     *                 size: 1.1
     *             },
     *             links: {
     *                 bold: true,
     *                 size: 1.1
     *             },
     *             links_style: "normal",
     *             reference_text_size: 1.1,
     *             subtitle: {
     *                 bold: true,
     *                 size: 1.1
     *             },
     *             title: {
     *                 bold: true,
     *                 size: 1.1
     *             }
     *         },
     *         page_background: {
     *             background_color: "background_color",
     *             background_image_url: "background_image_url",
     *             page_layout: "center"
     *         },
     *         widget: {
     *             header_text_alignment: "center",
     *             logo_height: 1.1,
     *             logo_position: "center",
     *             logo_url: "logo_url",
     *             social_buttons_layout: "bottom"
     *         }
     *     })
     */
    public update(
        themeId: string,
        request: Management.UpdateBrandingThemeRequestContent,
        requestOptions?: ThemesClient.RequestOptions,
    ): core.HttpResponsePromise<Management.UpdateBrandingThemeResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__update(themeId, request, requestOptions));
    }

    private async __update(
        themeId: string,
        request: Management.UpdateBrandingThemeRequestContent,
        requestOptions?: ThemesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Management.UpdateBrandingThemeResponseContent>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ManagementEnvironment.Default,
                `branding/themes/${core.url.encodePathParam(themeId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Management.UpdateBrandingThemeResponseContent,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Management.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Management.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Management.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Management.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ManagementError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/branding/themes/{themeId}");
    }
}
