// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Management from "../../../../../index.js";

export declare namespace CustomTextClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomTextClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomTextClient.Options>;

    constructor(options: CustomTextClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves text customizations for a given self-service profile, language and Self Service SSO Flow page.
     *
     * @param {string} id - The id of the self-service profile.
     * @param {Management.SelfServiceProfileCustomTextLanguageEnum} language - The language of the custom text.
     * @param {Management.SelfServiceProfileCustomTextPageEnum} page - The page where the custom text is shown.
     * @param {CustomTextClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.NotFoundError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.selfServiceProfiles.customText.list("id", "en", "get-started")
     */
    public list(
        id: string,
        language: Management.SelfServiceProfileCustomTextLanguageEnum,
        page: Management.SelfServiceProfileCustomTextPageEnum,
        requestOptions?: CustomTextClient.RequestOptions,
    ): core.HttpResponsePromise<Management.ListSelfServiceProfileCustomTextResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__list(id, language, page, requestOptions));
    }

    private async __list(
        id: string,
        language: Management.SelfServiceProfileCustomTextLanguageEnum,
        page: Management.SelfServiceProfileCustomTextPageEnum,
        requestOptions?: CustomTextClient.RequestOptions,
    ): Promise<core.WithRawResponse<Management.ListSelfServiceProfileCustomTextResponseContent>> {
        const _metadata: core.EndpointMetadata = {
            security: [{ bearerAuth: [] }, { oAuth2ClientCredentials: ["read:self_service_profile_custom_texts"] }],
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({
            endpointMetadata: _metadata,
        });
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ManagementEnvironment.Default,
                `self-service-profiles/${core.url.encodePathParam(id)}/custom-text/${core.url.encodePathParam(language)}/${core.url.encodePathParam(page)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Management.ListSelfServiceProfileCustomTextResponseContent,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Management.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Management.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Management.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ManagementError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/self-service-profiles/{id}/custom-text/{language}/{page}",
        );
    }

    /**
     * Updates text customizations for a given self-service profile, language and Self Service SSO Flow page.
     *
     * @param {string} id - The id of the self-service profile.
     * @param {Management.SelfServiceProfileCustomTextLanguageEnum} language - The language of the custom text.
     * @param {Management.SelfServiceProfileCustomTextPageEnum} page - The page where the custom text is shown.
     * @param {Management.SetSelfServiceProfileCustomTextRequestContent} request
     * @param {CustomTextClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.NotFoundError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.selfServiceProfiles.customText.set("id", "en", "get-started", {
     *         "key": "value"
     *     })
     */
    public set(
        id: string,
        language: Management.SelfServiceProfileCustomTextLanguageEnum,
        page: Management.SelfServiceProfileCustomTextPageEnum,
        request: Management.SetSelfServiceProfileCustomTextRequestContent,
        requestOptions?: CustomTextClient.RequestOptions,
    ): core.HttpResponsePromise<Management.SetSelfServiceProfileCustomTextResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__set(id, language, page, request, requestOptions));
    }

    private async __set(
        id: string,
        language: Management.SelfServiceProfileCustomTextLanguageEnum,
        page: Management.SelfServiceProfileCustomTextPageEnum,
        request: Management.SetSelfServiceProfileCustomTextRequestContent,
        requestOptions?: CustomTextClient.RequestOptions,
    ): Promise<core.WithRawResponse<Management.SetSelfServiceProfileCustomTextResponseContent>> {
        const _metadata: core.EndpointMetadata = {
            security: [{ bearerAuth: [] }, { oAuth2ClientCredentials: ["update:self_service_profile_custom_texts"] }],
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({
            endpointMetadata: _metadata,
        });
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ManagementEnvironment.Default,
                `self-service-profiles/${core.url.encodePathParam(id)}/custom-text/${core.url.encodePathParam(language)}/${core.url.encodePathParam(page)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Management.SetSelfServiceProfileCustomTextResponseContent,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Management.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Management.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Management.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ManagementError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/self-service-profiles/{id}/custom-text/{language}/{page}",
        );
    }
}
