// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Management from "../../../../../index.js";

export declare namespace ProviderClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ProviderClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProviderClient.Options>;

    constructor(options: ProviderClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve details of the [email provider configuration](https://auth0.com/docs/customize/email/smtp-email-providers) in your tenant. A list of fields to include or exclude may also be specified.
     *
     * @param {Management.GetEmailProviderRequestParameters} request
     * @param {ProviderClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.BadRequestError}
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.NotFoundError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.emails.provider.get({
     *         fields: "fields",
     *         include_fields: true
     *     })
     */
    public get(
        request: Management.GetEmailProviderRequestParameters = {},
        requestOptions?: ProviderClient.RequestOptions,
    ): core.HttpResponsePromise<Management.GetEmailProviderResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Management.GetEmailProviderRequestParameters = {},
        requestOptions?: ProviderClient.RequestOptions,
    ): Promise<core.WithRawResponse<Management.GetEmailProviderResponseContent>> {
        const { fields, include_fields: includeFields } = request;
        const _queryParams: Record<string, unknown> = {
            fields,
            include_fields: includeFields,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ManagementEnvironment.Default,
                "emails/provider",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Management.GetEmailProviderResponseContent,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Management.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Management.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Management.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Management.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ManagementError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/emails/provider");
    }

    /**
     * Create an [email provider](https://auth0.com/docs/email/providers). The `credentials` object
     * requires different properties depending on the email provider (which is specified using the `name` property):
     *
     * - `mandrill` requires `api_key`
     * - `sendgrid` requires `api_key`
     * - `sparkpost` requires `api_key`. Optionally, set `region` to `eu` to use
     *     the SparkPost service hosted in Western Europe; set to `null` to use the SparkPost service hosted in
     *     North America. `eu` or `null` are the only valid values for `region`.
     * - `mailgun` requires `api_key` and `domain`. Optionally, set `region` to
     *     `eu` to use the Mailgun service hosted in Europe; set to `null` otherwise. `eu` or
     *     `null` are the only valid values for `region`.
     * - `ses` requires `accessKeyId`, `secretAccessKey`, and `region`
     * - `smtp` requires `smtp_host`, `smtp_port`, `smtp_user`, and
     *     `smtp_pass`
     *
     * Depending on the type of provider it is possible to specify `settings` object with different configuration
     * options, which will be used when sending an email:
     *
     * - `smtp` provider, `settings` may contain `headers` object.
     *     - When using AWS SES SMTP host, you may provide a name of configuration set in
     *       `X-SES-Configuration-Set` header. Value must be a string.
     *     - When using Sparkpost host, you may provide value for
     *       `X-MSYS_API` header. Value must be an object.
     * - For `ses` provider, `settings` may contain `message` object, where you can provide
     *   a name of configuration set in `configuration_set_name` property. Value must be a string.
     *
     * @param {Management.CreateEmailProviderRequestContent} request
     * @param {ProviderClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.BadRequestError}
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.ConflictError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.emails.provider.create({
     *         name: "mailgun",
     *         credentials: {
     *             api_key: "api_key"
     *         }
     *     })
     */
    public create(
        request: Management.CreateEmailProviderRequestContent,
        requestOptions?: ProviderClient.RequestOptions,
    ): core.HttpResponsePromise<Management.CreateEmailProviderResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Management.CreateEmailProviderRequestContent,
        requestOptions?: ProviderClient.RequestOptions,
    ): Promise<core.WithRawResponse<Management.CreateEmailProviderResponseContent>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ManagementEnvironment.Default,
                "emails/provider",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Management.CreateEmailProviderResponseContent,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Management.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Management.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Management.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Management.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ManagementError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/emails/provider");
    }

    /**
     * Delete the email provider.
     *
     * @param {ProviderClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.BadRequestError}
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.NotFoundError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.emails.provider.delete()
     */
    public delete(requestOptions?: ProviderClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(requestOptions));
    }

    private async __delete(requestOptions?: ProviderClient.RequestOptions): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ManagementEnvironment.Default,
                "emails/provider",
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Management.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Management.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Management.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Management.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ManagementError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/emails/provider");
    }

    /**
     * Update an [email provider](https://auth0.com/docs/email/providers). The `credentials` object
     * requires different properties depending on the email provider (which is specified using the `name` property):
     *
     * - `mandrill` requires `api_key`
     * - `sendgrid` requires `api_key`
     * - `sparkpost` requires `api_key`. Optionally, set `region` to `eu` to use
     *     the SparkPost service hosted in Western Europe; set to `null` to use the SparkPost service hosted in
     *     North America. `eu` or `null` are the only valid values for `region`.
     * - `mailgun` requires `api_key` and `domain`. Optionally, set `region` to
     *     `eu` to use the Mailgun service hosted in Europe; set to `null` otherwise. `eu` or
     *     `null` are the only valid values for `region`.
     * - `ses` requires `accessKeyId`, `secretAccessKey`, and `region`
     * - `smtp` requires `smtp_host`, `smtp_port`, `smtp_user`, and
     *     `smtp_pass`
     *
     * Depending on the type of provider it is possible to specify `settings` object with different configuration
     * options, which will be used when sending an email:
     *
     * - `smtp` provider, `settings` may contain `headers` object.
     *     - When using AWS SES SMTP host, you may provide a name of configuration set in
     *       `X-SES-Configuration-Set` header. Value must be a string.
     *     - When using Sparkpost host, you may provide value for
     *       `X-MSYS_API` header. Value must be an object.
     *
     *   For `ses` provider, `settings` may contain `message` object, where you can provide
     *   a name of configuration set in `configuration_set_name` property. Value must be a string.
     *
     * @param {Management.UpdateEmailProviderRequestContent} request
     * @param {ProviderClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.BadRequestError}
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.NotFoundError}
     * @throws {@link Management.ConflictError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.emails.provider.update()
     */
    public update(
        request: Management.UpdateEmailProviderRequestContent = {},
        requestOptions?: ProviderClient.RequestOptions,
    ): core.HttpResponsePromise<Management.UpdateEmailProviderResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Management.UpdateEmailProviderRequestContent = {},
        requestOptions?: ProviderClient.RequestOptions,
    ): Promise<core.WithRawResponse<Management.UpdateEmailProviderResponseContent>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ManagementEnvironment.Default,
                "emails/provider",
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Management.UpdateEmailProviderResponseContent,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Management.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Management.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Management.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Management.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Management.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ManagementError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/emails/provider");
    }
}
