// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as Management from "../../../../../../../index.js";
import { SourcesClient } from "../resources/sources/client/Client.js";

export declare namespace EffectiveRolesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EffectiveRolesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EffectiveRolesClient.Options>;
    protected _sources: SourcesClient | undefined;

    constructor(options: EffectiveRolesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get sources(): SourcesClient {
        return (this._sources ??= new SourcesClient(this._options));
    }

    /**
     * Lists the roles assigned to an organization member directly or through group membership.
     *
     * @param {string} id - Organization identifier.
     * @param {string} user_id - ID of the user to list effective roles for.
     * @param {Management.ListOrganizationMemberEffectiveRolesRequestParameters} request
     * @param {EffectiveRolesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Management.BadRequestError}
     * @throws {@link Management.UnauthorizedError}
     * @throws {@link Management.ForbiddenError}
     * @throws {@link Management.NotFoundError}
     * @throws {@link Management.TooManyRequestsError}
     *
     * @example
     *     await client.organizations.members.effectiveRoles.list("id", "user_id", {
     *         from: "from",
     *         take: 1
     *     })
     */
    public async list(
        id: string,
        user_id: string,
        request: Management.ListOrganizationMemberEffectiveRolesRequestParameters = {},
        requestOptions?: EffectiveRolesClient.RequestOptions,
    ): Promise<
        core.Page<
            Management.OrganizationMemberEffectiveRole,
            Management.ListOrganizationMemberEffectiveRolesResponseContent
        >
    > {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Management.ListOrganizationMemberEffectiveRolesRequestParameters,
            ): Promise<core.WithRawResponse<Management.ListOrganizationMemberEffectiveRolesResponseContent>> => {
                const { from: from_, take = 50 } = request;
                const _queryParams: Record<string, unknown> = {
                    from: from_,
                    take,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.ManagementEnvironment.Default,
                        `organizations/${core.url.encodePathParam(id)}/members/${core.url.encodePathParam(user_id)}/effective-roles`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Management.ListOrganizationMemberEffectiveRolesResponseContent,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Management.BadRequestError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new Management.UnauthorizedError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new Management.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                        case 404:
                            throw new Management.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 429:
                            throw new Management.TooManyRequestsError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.ManagementError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/organizations/{id}/members/{user_id}/effective-roles",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<
            Management.OrganizationMemberEffectiveRole,
            Management.ListOrganizationMemberEffectiveRolesResponseContent
        >({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.roles ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "from", response?.next));
            },
        });
    }
}
